@(message: String)

@main("Welcome to Play") {
    <p>
	    <p> Scala Examples </p>
		<p>
			<a href="@routes.ScalaExample.async">Run Asynchronous API Examples</a>
		</p>
		<p>
			<a href="@routes.ScalaExample.sync">Run Synchronous API Examples</a>
		</p>
	</p>

    <p>
	    <p> Java using Scala Interface Examples </p>
		<p>
			<a href="@routes.JavaOnScalaExample.sync">Run Synchronous API Examples</a>
		</p>
	</p>

    <p>
	    <p> Java Examples </p>
		<p>
			<a href="@routes.JavaExample.sync">Run Synchronous API Examples</a>
		</p>
	</p>
}
