@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap.min.css")" />
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/transition.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/alert.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/button.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/carousel.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/collapse.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/dropdown.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/modal.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/tooltip.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/popover.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/scrollspy.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/tab.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/affix.min.js")"></script>         
    </body>
</html>
